section
{
    background: url(https://i.vimeocdn.com/video/1619229850-c38cd2d1c01cda0dcc2985a108e0c2201b5ffe892550d67838944c7c234ac049-d_640x360.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}