section
{
    height: 60vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: start;

}
div{
    height: 200px;
    width: 200px;
    background: linear-gradient(red,yellow);
}